@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, Azure Static Web Apps world!</h1>
<a href="https://learn.microsoft.com/en-us/azure/static-web-apps/getting-started?tabs=blazor">Quickstart: Build your first static site with Azure Static Web Apps</a>

<br>Welcome to your new app.
